<template>
  <div class="app-menu min-vh-100">
    <b-img src="../assets/Buu.png" width="80%" class="pt-2 pb-2" center></b-img>
    <b-nav vertical>
      <b-nav-item to="/">Home</b-nav-item>
      <b-nav-item to="/about">About</b-nav-item>
      <b-nav-item @click="showFromInput = !showFromInput"
        >From Input<b-icon
          :icon="showFromInput ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showFromInput" to="./fromInput1"
        >From Input 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFromInput" to="./fromInput2"
        >From Input 2</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFromInput" to="./fromInput3"
        >From Input 3</b-nav-item
      >
       <b-nav-item class="sub-menu" v-if="showFromInput" to="./fromInput4"
        >From Input 4</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFromInput" to="./fromInput5"
        >From Input 5</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFromInput" to="./fromInput6"
        >From Input 6</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFromInput" to="./fromInput7"
        >From Input 7</b-nav-item
      >
      <b-nav-item @click="showForm = !showForm"
        >Form<b-icon
          :icon="showForm ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showForm" to="./from1"
        >Form1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showForm" to="./from2"
        >Form2</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showForm" to="./from3"
        >Form3</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showForm" to="./from4"
        >Form4</b-nav-item
      >
      <b-nav-item @click="showFromCrudExample = !showFromCrudExample"
        >CRUD Example
        <b-icon
          :icon="showFromCrudExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showFromCrudExample" to="./datatable1"
        >Data table 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFromCrudExample" to="./productform1"
        >Product Form 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFromCrudExample" to="./productTable"
        >Product Table</b-nav-item
      >
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showFromInput: false,
      showFrom: false,
      showFromCrudExample: false
    }
  }
}
</script>
<style>
.app-menu {
  background-color: gray;
  font-size: 10pt;
}
.sub-menu {
  padding-left: 10pt;
}
.nav-link {
  color: white;
  text-align: left;
}
.nav-link:hover {
  color: gold;
}
</style>
